<h3 align="center">Application development using Angular</h3>
<!-- <hr> -->
<!-- 
<app-employee></app-employee>
<hr>
<app-friend></app-friend>
<hr>
<app-product-detail></app-product-detail>
<hr>
<app-product></app-product>
<hr>
<app-department></app-department>
<hr>
<br><br><br><br><br><br><br><br>

<app-product-list category="category3"></app-product-list>
<hr>
<app-product-list [category]="prodCat"></app-product-list>
<hr>
<br><br><br><br><br><br><br><br>

<app-employee-filter (onClickSortFilter) = 'Sort($event)'></app-employee-filter>
<hr>
<app-employee-list [employeefilter]="filters"></app-employee-list>
<br><br><br><br><br><br><br><br> -->

<!-- <hr>
<app-user></app-user>
<br><br><br><br><br><br><br><br>
<hr>
<app-employee></app-employee>
<hr>
<br><br><br><br><br><br><br><br> -->

<!-- <app-employee-list [employeefilter]="filters"></app-employee-list>
<br><br><br><br><br><br><br><br>
<hr> -->

<!-- <app-emp-list ></app-emp-list> -->
<!-- 
<app-prod-list ></app-prod-list> -->

<!-- <app-fancy-card> -->
    <!-- <h1  heading>Employee Details</h1>    
    <app-emp-list></app-emp-list> -->
<!-- </app-fancy-card> -->
 
<style>
   #div1
  {
    border: 1px solid gray;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    color :  rgb(13, 13, 14);
    box-shadow: 10px 10px 10px gray;
  }
    </style>

<div  id="div1">
    
    <p   appMyShadow> Attribute Custom Directive Text </p>    
<p   [appMyShadow]=" 'Blue' "> Attribute Custom Directive Text </p>
<p   [appMyShadow]=" 'Green' "> Attribute Custom Directive Text </p>

</div>
