<p>user works!</p>

<button [disabled]="property" (click)="Next_Click()">Next>></button>

<p></p>
<div class="row">
    <div *ngFor="let item of userArr | slice : start : end" class="column">
        <div  class="card">
            <div class="container">
              <h4><b> User Id :{{item.uid}}</b></h4>
              <p> User Name : {{item.uname | uppercase}}</p>
              <p>  Gender : {{item.gender | genderpipe}}</p>
            </div>
          </div>
     </div>
 </div>

 <!-- <p>{{userArr | json}}</p> -->
                                                                                                                