<table border="1">
    <tbody>
        <tr>
            <th colspan="2">
                Employee Detail
            </th>
        </tr>
        <tr>
            <td>Emaployye ID</td>
            <td>{{employeeId}}</td>
        </tr>
        <tr>
            <td>Emaployye Name</td>
            <td>{{empName}}</td>
        </tr>
        <tr>
            <td>Emaployye Job</td>
            <td>{{empJob}}</td>
        </tr>
        <tr>
            <td>Emaployye Salary</td>
            <td>{{empSal}}</td>
        </tr>
        <tr>
            <td>Emaployye Depo</td>
            <td>{{empDepo}}</td>
        </tr>
    </tbody>
</table>

<hr>

